* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(80, 59, 201);
}

.container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.list-containers {
  display: flex;
}

.img {
  height: 175px;
  width: 175px;
  border-radius: 10px;
}

.img-div {
  margin-left: 2em;
}

.input {
  margin-left: 1em;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  margin-left: 28%;
  outline: none;
  border: none;
  font-size: 20px;
  height: 30px;
  width: 40%;
  padding-left: .5em;
}

.input-label {
  font-size: 20px;
  margin-left: 1em;
  position: fixed;
  top: 21%;
}

.submitBtn {
  position: fixed;
  top: 35%;
  margin-left: 7em;
  font-size: 20px;
  border-radius: 10px;
  background-color: red;
  border: none;
  outline: none;
  padding: 10px 20px;
}

.list-items {
  list-style-type: none;
  font-size: 20px;
  padding-top: .4em;
  border: none;
  text-decoration: none;
}

.items-div {
  height: 40px;
  width: 300px;
  background-color: rgba(216, 199, 199, 0.3);
  border-radius: 10px;
  margin-top: .3em;
  margin-bottom: .3em;
  margin-right: 2em;
  margin-left: 2em;
  display: flex;
}

.devour-button {
  outline: none;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: red;
  font-size: 18px;
  margin-right: 1em;
  cursor: pointer;
}
